html,
body {
  font-family: "Roboto";
  top: 0;
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
}

h1 {
  color: #010101;
}
div {
  padding: 0;
  margin: 0;
}

nav {
  text-align: center;
}
footer {
}
footer p {
  text-align: center;
}

.content {
  padding-left: 5%;
  padding: right: 5%;
}

.page-header {
  text-align: center;
}

.main-container {
  padding: 10px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}
.flex-item {
  align: center;
  max-width: 360px;
}
